{% extends "login/base.html" %}
{% block content %}
    <h2>Home Page</h2>
    {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} ><b>{{message}}</b></p>
    {% endfor %}

    {% if user.is_authenticated %}
        <p>Hi! {{ email }}</p>
        <p>Your account create {{ date_joined }}</p>
        <p>You are logged in</p>
        <p><a href="{% url 'users:logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'users:login' %}">Log In</a>
        <p><a href="{% url 'users:register' %}">Register Here!</a></p>
    {% endif %}

{% endblock %}