{% extends "login/base.html" %}
{% block content %}

    <h2>Log In</h2>
    {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} ><b>{{message}}</b></p>
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <button type="submit">Log In</button>
        <p><a href="{% url 'users:register' %}">Register Here!</a></p>
        <p><a href="{% url 'users:dashboard' %}">Back Home</a></p>
    </form>

{% endblock %}